<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="main.css">

    <title>chatRoom</title>
    <style>
       

    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
   
   


  <div class="container">
    <header>
        <h1><i class="fas fa-smile"></i> Live Chat Football</h1>
    </header>
    <main class="join-main">
        <form action="/livechat">
            <div class="form-control">
                <label for="username">Username</label>
             <!--   <p> name  </p> -->
            </div>
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="room-one">Room 1</option>
                    <option value="room-two">Room 2</option>
                    <option value="room-three">Room 3</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" >Join Chat</button>
        </form>
    </main>
</div>


 <script src="/socket.io/socket.io.js"></script> <!--ha koll på detta, kan bli ett fel-->
 <script src="js/main.js"></script>

  

   <!--Footer-->

</body>
</html>